<h1>Listing copiers</h1>

<table>
  <tr>
    <th>Serial</th>
    <th>Location</th>
    <th>Model Id</th>
    <th></th>
    <th></th>
  </tr>

<% @copiers.each do |copier| %>
  <% if current_user == copier.user %>
  <tr>
    <td><%= copier.serial %></td>
    <td><%= copier.location %></td>
    <td><%= Model.find(copier.model_id.to_i).name %></td>
    
    <td><%= link_to 'Show', copier %></td>
    <td><%= link_to 'Edit', edit_copier_path(copier) %></td>
    <td><%= link_to 'Destroy', copier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <!--<td><%= hidden_field :copier_id, :value => copier.id %> </td>> !-->

    <td><%= link_to 'Zamow Toner', new_ticket_path(:copier_id => copier, :type => "toner") %> </td>
    <td><%= link_to 'Zamow Serwis', new_ticket_path(:copier_id => copier) %> </td>
  </tr>
<% end %>

<% end %>
</table>

<br />

<%= link_to 'New Copier', new_copier_path %>
