<%= simple_form_for(@ticket) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :issue %>
    <%= f.input :counter %>
  	<%= f.hidden_field :copier_id, :value => params[:copier_id] %>
  	<%= f.hidden_field :status, :value => "open" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
